.login-form {
    background: url('../../assets/images/purplebg.jpg') no-repeat center center;
    background-size: cover;
}
.form-wrapper {
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.2);
}
.input-wrapper {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}