nav {
    /* background: linear-gradient(to bottom, rgba(26, 1, 41, 0.5), transparent); */
    background: rgba(26, 1, 41, 0.5);
}
@media (max-width: 768px) {
    nav {
        background: none;
    }
}
#menu {
    background: rgba(26, 1, 41, 0.5);
}
#dropDown {
    background: rgba(60, 0, 102, 0.25);
    backdrop-filter: blur(30px);
}
.mobile-wrapper {
    backdrop-filter: blur(10px);
}